/* CSS Reset */

body {
	font-family: 'Open Sans', sans-serif;

}


nav {
    padding: 0.8rem;
    margin-top: 0rem;
    margin-bottom: 0;
    list-style-type: none;
    position:sticky;
    top: 0px;
    background-color: white;
    font-size: 20px;
}

nav .nav, nav .nav-logo {
    margin: 0.5rem;
    display: inline;

}

.right-nav {
    float: right;
    margin-right: 1rem;
}



.tuitt-button {
    background-color: #c2195b;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    width: 120px;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    min-height: 45vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    
}


.front-bg{
	background-color: rgba(	0, 0, 0,.8);
	min-height: 45vh;
}

.container {
    float: right;
    color: white;
    width: 1000px;
    min-height: 45vh;
    margin-right: 2rem;
    text-align: right;
    

}

.title {
    font-family: 'Zilla Slab';
    font-size: 55px;
    margin-bottom: 50px;
    margin-top: 0;
    float: right;
    width: 800px;

}

.subtitle {
    margin-bottom: 10px;   
    text-align: right;
    margin-left: 500px;
    margin-top: 30px;
    word-spacing: 5px;
    opacity: 70%;
}

.apply-button {
	background-color: #c2195b;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 180px;
    font-size: 20px;
}


.title-2 {
	  font-family: 'Zilla Slab';
	  font-size: 55px;
	  text-align: center;

}

.intro-description {
	font-size: 20px;
	word-spacing: 10px;
	margin-left: 500px;
	margin-right: 500px;
	
}

.pre-footer {
	background-color: #f7fbfb;
    text-align: center;
}

.prefooter-description {
	font-size: 20px;
	word-spacing: 5px;
	margin-left: 500px;
	margin-right: 500px;
	text-align: center;
}

.book-button	{
	margin-bottom: 200px;
	background-color: #336589; 
	border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 150px; 
}

 
footer  {
	text-align: center;

}

footer span {
	margin-left: 0.5rem;
	margin-left: 0.5rem;

}